<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="container">
        <header>
            <div><a href="/">home</a></div>
            <div><a href="/books">books</a></div>
            <div><a href="/music">music</a></div>
            <div><a href="/sports">sports</a></div>
            <div><a href="/bedroom">bedroom</a></div>
        </header>
        <main>
            <%- input %>
        </main>
    </div>
</body>

</html>