body {
    font-size: 13px;
    background: #222;
}

div#container {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 2rem;
    max-width: 1120px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #ff006c;
    text-shadow: 6px 4px 0px purple;
    text-transform: uppercase;
}

a:visited {
    color: #ff006c
}

header {
    display: flex;
    font-weight: bold;
    font-size: 1.6rem;
    justify-content: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;

}

@media (min-width: 600px) {
    header {
        font-size: 1.6rem;
        gap: 3rem;
    }

    main{
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}


main {
    max-width: 90%;
    margin: auto;
}

div#canvas-container {
    text-align: center;
    width: 100%;
    min-width: 50vw;
    min-height: 80vh;
}

body {
    font-family: 'Funnel Sans';
    color: white
}

canvas {
    animation: hmm 60s infinite alternate-reverse
}

@keyframes hmm {
    from{
        filter: hue-rotate(0deg) blur(8px)
    }

    to{
        filter: hue-rotate(360deg) blur(8px)
    }
}

table,
td,
th {
    border: solid 1px #444;
    border-collapse: collapse;
    padding: 4px;
}

tr.light{
    background-color: #1b420a;
}
tr.mid{
    background-color: #42410a;
}
tr.heavy{
    background-color: #420a0a;
}